body{
	font-family: 'Nunito+Sans', sans-serif;
}

header{
	height:500px ;
	background:url("img/bgheader.jpg") ;
	/*background-repeat: no-repeat;*/
	background-size: cover;
}
ul{
	width: 100%;
    height: 40px;
    display: block;
    padding-top: 23px;

}
ul li{
	display: flex;
	float: left;	
	justify-content: flex-end;
}
li a {
	color: #cbccd3;
	font-size: 11px;
	display: block;
	border-top: 5px solid transparent;
	padding-right: 30px;
}
.container-fluid{
	width: 100%;
	max-width: 1900px;
	overflow: hidden;
}
.img1{
	height: 20px;
	width: 175px;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.textoH1{
	font-size: 50px;
	color:white ;
	text-align: center;
	box-sizing: border-box;
}
.textoH3{
	font-size: 12px;
	color:white ;
	text-align: center;
	box-sizing: border-box;
}
#centrado{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#centrado a{
	background:#e84545;
	color:#fff;
	text-align: center!important;
	display: block;
	width: 200px;
	height: 48px;
	padding: 17px 0;
	font-weight: normal;
	font-size: 11px;
	transition: 0.3s ease all;
}
#centrado a:hover {
	text-decoration: none;
	background: blue;
	transform: scale(1.05);
}
.margenIni{
	padding-top: 95px;
}
.margenIni2{
	padding-top: 15px;
	padding-bottom: 40px;
}


.seccion6{
	width:100% ;
	height: 340px;
	background:white ;
}
.txtH2{
	text-align: center;
	font-size:28px ;
	color:#2d3033 ;
	padding-top: 90px;
	padding-bottom: 10px;
}
.txtH3{
	text-align: center;
	font-size:11px ;
	color:#2d3033 ;
	padding-bottom: 30px;
}
.botonSec6{
	height:46px!important ;
	width:280px!important ;
}
.txtH4a{
	text-align: center;
	font-size:12px ;
	color:#7c7c7d ;
}
.txtH4b{
	text-align: center;
	font-size:12px ;
	color:white ;
}
footer{
	padding-top: 20px;
	height:94px ;
	background: #313454;
}
.corazon{
	color: red;
}
.seccion7{
	height:251px;
	background: #3a3e64;
}
.txtP{
	text-align: center;
	font-size:13px ;
	color:#adaebb ;
}
.txtH3a{
	text-align: center;
	font-size:15px ;
	color:white ;
	/*padding-top: 75px;
	padding-bottom: 10px;*/
}
.agrupado{
	display: flex;
	direction: row;
	align-items: center;
	justify-content: center;
	padding-top: 70px;
	padding-bottom: 95px;
}
.iconosCont{
	display: flex;
	direction: row;
	align-items: center;
	justify-content: center;
}


.iconos{
	color: white;
	align-content: center!important;
	border:2px solid white;
	height: 40px;
	width: 40px;
	margin: 6px;
	padding-top:10px ;
	padding-left:10px ;
	font-size:16px; 
}


.slick-prev:before,.slick-next:before{
	color: #444;
}
